<!-- Create the editor container -->
<div class="row">
  <div class="col s2">
    <div class="input-field">
      <input type="text" name="first_name" value="" value="Final essay">
    </div>
  </div>

  <div class="col s1">
    <button class="waves-effect waves-light btn-small blue" type="submit">
      <i class="material-icons right">update</i>save
    </button>
  </div>

  <div class="col s9">
    <p class="right">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </p>
  </div>
</div>

<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="../../../assets/images/village.jpg">
      </div>
      <a href="#user"><img class="circle" src="../../../assets/images/Naruto.png"></a>
      <a href="#name"><span class="white-text name">Naruto Uzumaki</span></a>
      <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div>
  </li>
  <div class="divider"></div>
  <br>
  <div class="col s2 profile-box">
    <ul class="collection with-header">
      <li class="collection-item active blue">
        Participants
      </li>
      <div style="height: 300px; overflow: scroll;">
        <li class="collection-item">
          <div>Alvin<a href="#!" class="secondary-content"><i class="material-icons red-text">delete</i></a></div>
        </li>
        <li class="collection-item">
          <div>Mousa<a href="#!" class="secondary-content"><i class="material-icons red-text">delete</i></a></div>
        </li>
        <li class="collection-item">
          <div>Momo<a href="#!" class="secondary-content"><i class="material-icons red-text">delete</i></a></div>
        </li>
        <li class="collection-item">
          <div>Deck<a href="#!" class="secondary-content"><i class="material-icons red-text">delete</i></a></div>
        </li>
        <li class="collection-item">
          <div>Momo<a href="#!" class="secondary-content"><i class="material-icons red-text">delete</i></a></div>
        </li>
        <li class="collection-item">
          <div>Deck<a href="#!" class="secondary-content"><i class="material-icons red-text">delete</i></a></div>
        </li>
        <li class="collection-item">
          <div>Momo<a href="#!" class="secondary-content"><i class="material-icons red-text">delete</i></a></div>
        </li>
        <li class="collection-item">
          <div>Deck<a href="#!" class="secondary-content"><i class="material-icons red-text">delete</i></a></div>
        </li>
        <li class="collection-item">
          <div>Momo<a href="#!" class="secondary-content"><i class="material-icons red-text">delete</i></a></div>
        </li>
        <li class="collection-item">
          <div>Deck<a href="#!" class="secondary-content"><i class="material-icons red-text">delete</i></a></div>
        </li>
      </div>
    </ul>
  </div>
</ul>


<div id="editor">
  <p>Hello World!</p>
  <p>Some initial <strong>bold</strong> text</p>
  <p><br></p>
</div>