#editor{
    min-height: 85vh;
}

.row{
    height: 60px;
    margin: 0px;
    padding: auto;
}

.col:nth-child(1) {
    /* background-color: green !important; */
    margin: auto;
    height: 100%;
}

.col:nth-child(1) .input-field input{
    border-radius: 5px !important;
    height: 25px !important;
}

.col button, .col p{
    margin-top: 10px;
}
