/* You can add global styles to this file, and also import other style files */
/* label focus color */
.input-field input:focus + label {
    color: #2196f3 !important;
  }
  /* label underline focus color */
  .row .input-field input:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important
  }
