<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
    <ul class="collection">
      <li class="collection-item avatar center" style="background-image: url('../../../assets/images/village.jpg'); height: 200px;">
        <div class="user-view">
          <a href="#user"><img class="circle" src="../../../assets/images/Naruto.png"></a>
          <a href="#name"><span class="white-text name">{{ user.first_name }} {{ user.last_name}}</span></a><br>
          <a href="#email"><span class="white-text email">{{ user.email }}</span></a>
        </div>
      </li>
      <div class="col s2 profile-box">
        <li class="collection-item grey lighten-4" style="text-align: center;">
          <a style="cursor: pointer;" class="red-text" (click)="logout()">Logout</a>
        </li>
        <div class="divider"></div>
        <p>My Information</p>
        <span class="blue-text" *ngIf="messages.success">{{ messages.success }}</span>
        <form (submit)="UpdatePersonalInfo()">
          <div class="input-field">
            <input type="text" name="first_name" [(ngModel)]="user.first_name">
            <span class="red-text left" *ngIf="messages.first_name">{{ messages.first_name }}</span>
          </div>
          <div class="input-field">
            <input type="text" name="last_name" [(ngModel)]="user.last_name">
            <span class="red-text left" *ngIf="messages.last_name">{{ messages.last_name }}</span>
          </div>
          <div class="input-field">
            <input type="text" name="user_name" [(ngModel)]="user.user_name">
            <span class="red-text left" *ngIf="messages.user_name">{{ messages.user_name }}</span>
          </div>
          <div class="input-field">
            <input type="email" name="email" [(ngModel)]="user.email">
            <span class="red-text left" *ngIf="messages.email">{{ messages.email }}</span>
          </div>
          <button class="waves-effect waves-light btn-small right grey darken-3" type="submit">
            <i class="material-icons right">update</i>Update
          </button>
        </form>
        <br><br>
        <p>My Password</p>
        <form (submit)="updatePassword()">
          <div class="input-field">
            <input placeholder="Old Password" type="password" name="old_password" [(ngModel)]="passwordInfo.old_password">
            <span class="red-text left" *ngIf="messages.old_password">{{ messages.old_password }}</span>
          </div>
          <div class="input-field">
            <input placeholder="New Password" type="password" name="new_password" [(ngModel)]="passwordInfo.new_password">
            <span class="red-text left" *ngIf="messages.password">{{ messages.password }}</span>
          </div>
          <div class="input-field">
            <input placeholder="Confirm New Password" type="password" name="confirm_password" [(ngModel)]="passwordInfo.confirm_password">
            <span class="red-text left" *ngIf="messages.confirm_password">{{ messages.confirm_password }}</span>
          </div>
          <button class="waves-effect waves-light btn-small right grey darken-3" type="submit">
            <i class="material-icons right">update</i>Update
          </button>
        </form>
      </div>
    </ul>
  </mat-drawer>

  <mat-drawer #drawer2 class="example-sidenav" mode="push" position="start">

    <ul class="collection with-header">
      <li class="collection-header blue">
        <p>Notifications</p>
      </li>
      <span class="red-text center-align" *ngIf="messages.error">{{ messages.error }}</span>
      <span class="blue-text center-align" *ngIf="messages.success">{{ messages.success }}</span>
      <div class="divider"></div>
      <li class="collection-item" *ngFor="let notification of notifications">
        <div>{{ notification.message }}<a style="cursor: pointer;" class="secondary-content" (click)="deleteNotifications(notification.id)"><i
              class="material-icons red-text">delete</i></a></div>
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="nav-box">
      <ul>
        <li><a mat-button (click)="drawer2.toggle()" style="cursor: pointer;" class="sidenav-trigger"><i class="material-icons">notifications</i></a></li>
        <li><input [(ngModel)]="filter.title" class="input-search" type="text" placeholder="Search by Title"></li>
        <li><a mat-button (click)="drawer.toggle()" style="cursor: pointer;" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
      </ul>
    </div>

    <div class="top-header">
      <div class="container">
        <div class="row">
          <div class="col s6">
            <p class="white-text">Start a new document</p>
          </div>
        </div>
        <div class="docment">
          <img (click)="newDocument()" style="cursor: pointer" src="https://ssl.gstatic.com/docs/templates/thumbnails/docs-blank_1.png">
          <span class="white-text">Blank</span>
        </div>
        <div *ngFor="let recent of recentList" class="docment">
          <img style="cursor:pointer;" (click)="editDocument(recent.id)" src="https://ssl.gstatic.com/docs/templates/thumbnails/1XykI9TfWo4IoUqGLjQ-D8NIU4jZ1Ml9OI8-Euj5FrA0_400_3.png">
          <span style="cursor:pointer;" (click)="editDocument(recent.id)" class="white-text">{{recent.title |
            slice:0:14}}</span>
        </div>
      </div>
    </div>

    <div class="main-content">
      <div class="container">
        <div class="row">

          <div *ngFor="let document of documentList | filterBy: filter" class="col s2">
            <div class="card">
              <div class="card-image">
                <img (click)="editDocument(document.id)" style="cursor:pointer;" src="https://ssl.gstatic.com/docs/templates/thumbnails/1XykI9TfWo4IoUqGLjQ-D8NIU4jZ1Ml9OI8-Euj5FrA0_400_3.png">
                <span class="card-title"></span>
              </div>
              <div class="card-action">
                <a (click)="editDocument(document.id)" style="cursor:pointer;">{{document.title | slice:0:7 }}...</a>
              </div>
            </div>
          </div>

          <div *ngIf="(documentList | filterBy: filter).length == 0">
            <h5>No Matching Document</h5>
            <p>Create a new document by pressing the +</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>